@import "../../../../assets/scss/index.scss";

.removed {
  opacity: 0;
}

.tile {
  padding: 0.5rem;
  max-width: max-content;
  max-height: max-content;
  background-color: $tile-gray-15;
  border-top: $tile-gray-10 solid;
  border-right: $tile-gray-25 solid;
  border-bottom: $tile-gray-30 solid;
  border-left: $tile-gray-20 solid;
  border-radius: 1rem;
  border-width: 0.5rem;

  // I hate how my editor is reformatting this on save.  I want each shadow to be its own line
  &.selected {
    box-shadow: 0 0 0 1px $select-glow1, 0 0 0 3px $select-glow2,
      0 0 0 5px $select-glow3, 0 0 0 7px $select-glow4, 0 0 0 9px $select-glow5;
  }
}
