// Actually fil this out
$blue-10: #ffffff;
$blue-20: #ffffff;
$blue-30: #ffffff;
$blue-40: #0000ff;
$blue-50: #ffffff;
$blue-60: #ffffff;
$blue-70: #ffffff;

$green-50: #ffffff;
$green-100: #ffffff;
$green-300: #ffffff;
$green-500: #ffffff;
$green-700: #ffffff;
$green-900: #ffffff;

/////////////////////////////////////////

$invisible: #ffffff00;

$tile-gray-10: #e6dfd6;
$tile-gray-15: #ddd5ca;
$tile-gray-20: #d3cec7;
$tile-gray-25: #d0c9be;
$tile-gray-30: #bfb8ae;
$tile-gray-35: #a0978b;
$tile-gray-40: #888075;
$tile-gray-45: #746d61;
$tile-gray-50: #645f55;

$red-10: #ff0000;
$red-20: #dd0000;
$red-30: #bb0000;
$red-40: #990000;
$red-50: #770000;

$orange-10: #ff8800;
$orange-20: #e87801;
$orange-30: #dc6b02;
$orange-40: #cc5b05;
$orange-50: #b64f00;

// Work on this - ugly green tint
$yellow-10: #ffff00;
$yellow-20: #f3d700;
$yellow-30: #f0b800;
$yellow-40: #e1a101;
$yellow-50: #bf8901;

$green-10: #00ff00;
$green-20: #00dd00;
$green-30: #00bb00;
$green-40: #009900;
$green-50: #007700;

$blue-10: #0000ff;
$blue-20: #0000bb;
$blue-30: #0000aa;
$blue-40: #000088;
$blue-50: #000066;

$purple-10: #ff00ff;
$purple-20: #bb00bb;
$purple-30: #aa00aa;
$purple-40: #880088;
$purple-50: #660066;

$select-glow1: #ffffaacc;
$select-glow2: #ffffaa99;
$select-glow3: #ffffaa66;
$select-glow4: #ffffaa33;
$select-glow5: #ffffaa11;
