// Actually fil this out
$blue-10: #ffffff;
$blue-20: #ffffff;
$blue-30: #ffffff;
$blue-40: #0000ff;
$blue-50: #ffffff;
$blue-60: #ffffff;
$blue-70: #ffffff;

$green-50: #ffffff;
$green-100: #ffffff;
$green-300: #ffffff;
$green-500: #ffffff;
$green-700: #ffffff;
$green-900: #ffffff;

/////////////////////////////////////////

$tile-color-lite: #e6dfd6;
$tile-color: #ddd5ca;
$tile-color-dark-1: #d3cec7;
$tile-color-dark-2: #d0c9be;
$tile-color-dark-3: #bfb8ae;

$red: #ff0000;

$green: #00ff00;

$blue: #0000ff;

$yellow: #ffff00;

$purple: #ff00ff;
