// These might change, but ok for now
$tile-color-lite: #e6dfd6;
$tile-color : #ddd5ca;
$tile-color-dark-1: #d3cec7;
$tile-color-dark-2: #d0c9be;
$tile-color-dark-3: #bfb8ae;

$red: #ff0000;

$green: #00ff00;

$blue: #0000ff;

$yellow: #ffff00;

$purple: #ff00ff;


.tile{
  padding: 1rem;
  max-width: max-content;
  max-height: max-content;
  background-color: $tile-color;
  border-top: $tile-color-lite solid;
  border-right: $tile-color-dark-2 solid;
  border-bottom: $tile-color-dark-3 solid;
  border-left: $tile-color-dark-1 solid;
  border-radius: 1rem;
  border-width: 0.5rem;
}

.cell {
  padding: 0.5rem;

  // This will come from globals soon enough
  &.filled {
    &.color-red{
      background-color: $red;
    }
    &.color-green{
      background-color: $green;
    }
    &.color-blue{
      background-color: $blue;
    }
    &.color-yellow{
      background-color: $yellow;
    }
    &.color-purple{
      background-color: $purple;
    }
  }
}

.tile-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
