@import "../../../assets/scss/index.scss";

// right now, this is basically a copy of tile-card's .tile with margin
// Lets replace this with the tray and tray ridge
.ridge {
  max-width: max-content;
  max-height: max-content;

  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.25rem;
}

.well {
  margin: 0.25rem;
}

.cell {
  padding: 0.75rem;

  &.hovering {
    opacity: 0.5;
  }
}

.player-grid {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  margin: 0 auto;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

// Might become global button styles
.button {
  border-radius: 0.3rem;
  border-width: 0.5rem;
  outline: none;
}
