<div class="player-grid">
  <div class="ridge"
    (click)="clickGrid()"
    (mouseleave)="clearHover()">
    <div *ngFor="let row of grid.rows"
      class="cell-row">
      <div *ngFor="let cell of row"
        class="well">
        <div class="cell"
          [ngClass]="cell.hovering ? 'color-'+cell.hoverColor.code + ' hovering' : 'color-'+cell.color.code"
          (mouseenter)="hoverTile(cell)"></div>
      </div>
    </div>
  </div>
  <div class="button-group">
    <button class="button"
      (click)="rotateTileLeft()"
      [disabled]="!selectedTileCanRotate">Rotate <br>
      Left</button>
    <cg-tile-card [tile]="selectedTile"
      class="tile"></cg-tile-card>
    <button class="button"
      (click)="rotateTileRight()"
      [disabled]="!selectedTileCanRotate">Rotate <br>
      Right</button>
  </div>
</div>