@import "../../../assets/scss/index.scss";

.tray-ridge {
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 35rem;

  margin: 0 auto;
}

.tray-well {
  border-radius: 0.5rem;
  justify-content: space-around;

  .tile {
    margin: 1rem 0;
  }

  :first-child {
    margin-left: 0.5rem;
  }
  :last-child {
    margin-right: 0.5rem;
  }
}
