/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/index.scss";

// FLEX Added Styles
.flex-d {
  display: flex;
}

.cell-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
  padding: 0.25rem;
  border: $invisible 2px solid;
  border-radius: 2px;
  margin: 1px;

  &.color-red {
    background-color: $red-10;
    border: $red-40 2px solid;
  }
  &.color-orange {
    background-color: $orange-10;
    border: $orange-40 2px solid;
  }
  &.color-yellow {
    background-color: $yellow-10;
    border: $yellow-40 2px solid;
  }
  &.color-green {
    background-color: $green-10;
    border: $green-40 2px solid;
  }
  &.color-blue {
    background-color: $blue-10;
    border: $blue-40 2px solid;
  }
  &.color-purple {
    background-color: $purple-10;
    border: $purple-40 2px solid;
  }
}

.ridge {
  background-color: $tile-gray-15;
  border-top: $tile-gray-10 solid;
  border-right: $tile-gray-25 solid;
  border-bottom: $tile-gray-30 solid;
  border-left: $tile-gray-20 solid;
}

.well {
  background-color: $tile-gray-40;
  border-top: $tile-gray-50 solid;
  border-right: $tile-gray-35 solid;
  border-bottom: $tile-gray-30 solid;
  border-left: $tile-gray-45 solid;
}

.button {
  color: white;

  background-color: $tile-gray-40;
  border-top: $tile-gray-30 solid;
  border-right: $tile-gray-45 solid;
  border-bottom: $tile-gray-50 solid;
  border-left: $tile-gray-35 solid;

  &:active {
    border-top: $tile-gray-45 solid;
    border-right: $tile-gray-30 solid;
    border-bottom: $tile-gray-35 solid;
    border-left: $tile-gray-50 solid;
  }

  &:disabled {
    background-color: $tile-gray-30;
    border-top: $tile-gray-20 solid;
    border-right: $tile-gray-35 solid;
    border-bottom: $tile-gray-40 solid;
    border-left: $tile-gray-25 solid;
  }
}
